body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(Higashiyama.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    backdrop-filter: blur(7px);
  }
  
  
  .gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 10px;
      animation: fadeIn 1s ease-in-out;
  }
  
  .gallery-item {
      width: 355px;
      margin: 30px;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      border-radius: 10px;
  }
  
  .gallery-item img {
      width: 100%;
      transition: transform 0.3s ease; 
  }
  
  .gallery-item:hover img {
      transform: scale(1.1); 
  }
  
  .gallery-item.active img {
      transform: scale(1.5); 
      transition: transform 0.5s ease; 
  }
  
  .parag {
      color:grey;
      font-family:Times New Roman;
      font-size: 30px;
  
  }

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}